.login {
  background-color: #fff;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 1rem;
}
.login form button {
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 5rem;
  background-color: #000;
  color: #fff;
}

.form-unit{
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 1rem;
}
.form-unit input{
    padding: .5rem;
    border: solid 1px ;
}
.login form hr{
    width: 100%;
    height: .05rem;

    border: none;
    background-color: #000;
}