.login,
.sign-up {
  background-color: #fff;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* .login *{
  align-items: center;
} */
.login form,
.sign-up form {
  display: flex;
  min-width: 20rem;
  max-width: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 1rem;
  /* background-color: red; */
}
.login form button,
.sign-up form button {
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 5rem;
  background-color: #000;
  color: #fff;
}
.form-unit {
  /* background-color: red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  gap: 5px;
}
.form-unit input {
  width: calc(100% - 1rem);
  padding: 0.5rem;
  border: solid 1px;
  border-radius: 5px;
  outline-color: orangered;
}
.login form hr,
.sign-up form hr {
  width: 100%;
  height: 0.05rem;

  border: none;
  background-color: #000;
}
.form-unit span {
  color: red;
}

/* verify-window */

.verify-window {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.493);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
.form-box {
  width: 50%;
  height: 15rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: .5rem;
}
.form-box form input {
  width: 2rem;
  height: 2rem;
}

.inputs-box{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
/* *verify-window* */
